body {
    background-image: url("../images/death-of-caesar.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Mukta Vaani', sans-serif;
}

header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
}

h1, h2 {
    font-family: 'Acme', sans-serif;
    font-size: 4em;
    color: #eee;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
    font-size: 2em;
}

.start, .replay {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.user-info {
    display: block;
    clear: both;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #444; 
    border-radius: 25px; 
    text-align: center;
    margin-top: 10px;
    background: #9b9a92;
    color: #eee;
    padding:.5em;
    margin-bottom: 60px;
}

.footer {
    display: block;
    clear: both;
    width: 100%;
    background: #7a8493;
    height: 50px;
    color: #eee;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin-top: 2em;
    padding-top: 15px;
}

.interface {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p {
    font-size: 20px;
}
.question {
    display: block;
    clear: both;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #444; 
    border-radius: 10px;
    text-align: center;
    background: #9b9a92;
    color: #eee;
    padding: 20px;
}
 .choices {
    display: block;
    clear: both;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #444; 
    border-radius: 25px; 
    text-align: center;
    margin-top: 10px;
    background: #9b9a92;
    color: #eee;
    padding:.6em;
 }

 .choices :hover {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px; 
    margin-top: 10px;
    padding:.6em;
    background: orange;
    border-radius: 25px; 
 }

 .giphy {
     padding: 20px;
     min-width: 80%;
     max-height: 450px;
     margin-bottom: .5em;
     margin-left: auto;
     margin-right: auto;

 }

 #game-over {
     margin-top: 40px;
 }

